@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background: #ffffff;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-image: url("./images/background2.jfif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
.signin {
  width: 500px;
  min-height: 450px;
  border-radius: 3px;
  box-shadow: 3px 3px 5px #001324dc;
}
.signin_wrapper {
  background: rgb(178, 245, 225);
}
.signin_success {
  background: rgb(55,108,92);
}
.signin_success h1 {
  letter-spacing: 1px;
}
.signin_success p {
  margin-top: 15px;
  letter-spacing: 1px;
}

form {
  padding: 20px 50px;
}

h2 {
  text-align: center;
  font-family: "Righteous", cursive;
  font-size: 35px;
  font-weight: 500;
  margin: 25px;
}

div.textField {
  width: 100%;
  margin: 12px 10px;
}

div.textField input {
  font-size: 20px;
}
div.textField svg {
  font-size: 25px;
}
button {
  background: #001324dc;
  width: 100%;
  line-height: 35px;
  margin: 20px 9px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.error_msg {
  color: #ff0000e0;
  font-size: 17px;
  font-weight: 700;
  margin: 0px;
  padding: 0px;
}
span.signup {
  color: black;
  cursor: pointer;
}
h3 {
  text-align: center;
  margin-top: 15px;
}

/* Media Query for Login Form  */
@media screen and (max-width: 600px) {
  .signin {
    width: 100%;
  }
}
